#home {
    background-image: url("../IMG/istockphoto-996082438-1024x1024.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20%;
}

.colorLetraBanner {
    color: white;
    text-shadow: 1.5px 1.5px 2.5px grey;
}

.sombra-card{
    box-shadow: 10px;
}

.imagenoscuro{
    content:  url("../IMG/con-ingenio-solo-blanco.png");
    width: 48px;
    height: 48px;
}


.imagenclaro{
    content:  url("../IMG/con-ingenio-solo-colores.png");
    width: 48px;
    height: 48px;
}